/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-gradient {
    transition: background-color 1.5s ease-out, background 1.5s ease-out;
    background-color: #0e0e0e;
}

.hover-gradient:hover {
    background-image: radial-gradient(circle at center, #04133c, #052162);
}