/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-gradient {
    transition: background-color 1.5s ease-out, background 1.5s ease-out;
    background-color: #080833;
}

.hover-gradient:hover {
    background-image: radial-gradient(circle at center, #080833, #1B6BE4);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}